*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    margin-block-start: 0;
    margin-block-end: 0;
}

:root {
    --primary-color : #070707;
    --secondary-color : #171717;
    --tertiary-color : #3E065F;
    --text-color : #faf2ff;
    --highlight-color : #8e17bd;   
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@media (max-width: 768px) {
    body {
        margin-top: 20px;
        font-size: smaller;
        background-color: var(--secondary-color);
    }

}



